<table style="width:100%">
  <tr>
    <td>NAME</td>
    <td>DYNO SIZE</td>    
    <td>FREQUENCY</td>
    <td>NEXT DUE</td>
    <td>LAST RUN</td>
  </tr>
  <tr ng-repeat="todo in todoss track by $index">
    <td>{{todo.task}}</td>
    <td>{{todo.dynos.amount}}</td>    
    <td>{{todo.frequency.time}} </td>
    <td>{{todo.frequency.nextRun | date:'medium'}}</td>
    <td>{{todo.frequency.alarm}}</td>
    <td><edit-item></edit-item></td>
    <td><delete-item></delete-item></td>
  </tr>
  <tr ng-repeat="todo in todos track by $index">
    <td>{{todo.task}}</td>
    <td>{{todo.dynos.amount}}</td>    
    <td>{{todo.frequency.time}} </td>
    <td>{{todo.frequency.nextRun | date:'medium'}}</td>
    <td>{{todo.frequency.alarm}}</td>
    <td><edit-item></edit-item></td>
    <td><delete-item></delete-item></td>
  </tr>
  

</table>

<job-form></job-form>
<create-item></create-item>


